*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Piano-Wallpapers-HD-For-Desktop.jpg);
    background-position: auto;
    background-size: auto;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 300px;
}
.nav-links {
    flex: 1;
    text-align: right;
    
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.textbox {

    color: white;
    text-align: center;
}

.textbox h1 {
    font-size: 40px;
    text-align: center;
    
}

.textbox p {
    text-align: center;
}

nav .fa {
    display: none;
}



.petr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    object-fit: scale-down;
    
    
}

.contact {
    background-color: antiquewhite;
    text-align: center;
}

@media only screen and (max-width: 480px){
    img {
        width: 100%;
    }
}